<robot name="sawyer" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="camera_link">
        <visual>
            <origin rpy="1.57079632679 0 1.57079632679" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://openface_ros/meshes/d435.dae"/>
            </geometry>
            <material name="darkgray"/>
        </visual>
        <collision>
            <origin rpy="1.57079632679 0 1.57079632679" xyz="0 0 0"/>
            <geometry>
                <box size="0.32 0.32 0.32"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="1.57079632679 0 1.57079632679" xyz="0 0 0"/>
            <mass value="0.072"/>
            <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
        </inertial>
    </link>
    <joint name="camera_link_base" type="fixed">
        <origin rpy="0 0 0" xyz="0.015 0 0.275"/>
        <parent link="head"/>
        <child link="camera_link"/>
        <axis xyz="0 0 0"/>
    </joint>
</robot>
